streamlit
pandas
numpy
python-dotenv
openai
langchain
langchain-community
langchain-openai
faiss-cpu
pypdf
PyPDF2
transformers
torch
scikit-learn
pydantic
sentencepiece
tiktoken
matplotlib
seaborn
openpyxl
